<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CS_Tabbed_Text_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TextEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <CS_Tabbed_Text_Editor.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Microsoft Sans Serif, 9pt</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableDynamicStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultSearchEngine" serializeAs="String">
                <value>1</value>
            </setting>
        </CS_Tabbed_Text_Editor.Properties.Settings>
        <TextEditor.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Microsoft Sans Serif, 9pt</value>
            </setting>
        </TextEditor.Properties.Settings>
    </userSettings>
</configuration>
